body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #2c3e50;
    line-height: 1.6;
}

.navbar {
    background-color: #4a47a3;
}

.navbar a {
    color: white !important;
}

.hero {
    background: linear-gradient(135deg, #4a47a3, #6a57d5);
    color: white;
    padding: 100px 0;
    text-align: center;
}

#home-banner{
    background-image: url('img/home-baner.png');
}

.btn-primary {
    background-color: #ff7b54;
    border-color: #ff7b54;
    padding: 10px 25px;
    font-weight: 500;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #16a085;
    border-color: #16a085;
}

.card {
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.bg-dark {
    background-color: #2a2a72 !important;
}

.container1 {
    margin-top: 60px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #2c3e50;
}

.hero h1{
    color: white;
}

.search-box {
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
}

.accordion-button {
    background-color: #f9f9f9;
    color: #2c3e50;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #ddd;
}

.accordion-button:hover {
    background-color: #1abc9c !important;
    color: white !important;
}

.accordion-button:not(.collapsed) {
    background-color: #1abc9c !important;
    color: white !important;
    border-bottom: 1px solid #ddd;
}

/* Mega menu styling */
.dropdown-menu {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
}

.dropdown-menu h6 {
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5rem;
}

.dropdown-menu .dropdown-item {
    color: #333333 !important;
    padding: 0.25rem 0;
    text-decoration: none;
    font-size: 15px;
}

.dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #ff7b54;
    border-radius: 4px;
}

.faq-btn {
    background-color: #dedef9; 
    color: rgb(0, 0, 0); 
    font-weight: 500;
}